# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/playwright-report
/test-results
/blob-report
.pytest_cache/

# production
/build
/dist

#astro
.astro/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# python
__pycache__/
*.py[cod]
.venv/
.ruff_cache/
