@import "tailwindcss";
@import "tw-animate-css";

@source "../../node_modules/suspense-fallback-debugger"

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9691 0.0161 293.7558);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.0 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.4383 0.1983 303.7241);
  --primary-foreground: oklch(1.0 0 0);
  --secondary: oklch(0.9276 0.0058 264.5313);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.967 0.0029 264.5419);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9299 0.0334 272.7879);
  --accent-foreground: oklch(0.2781 0.0296 256.848);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0 0 0);
  --border: oklch(0.8717 0.0093 258.3382);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.4383 0.1983 303.7241);
  --chart-1: oklch(0.4383 0.1983 303.7241);
  --chart-2: oklch(0.6056 0.2189 292.7172);
  --chart-3: oklch(0.709 0.1592 293.5412);
  --chart-4: oklch(0.8112 0.1013 293.5712);
  --chart-5: oklch(0.8943 0.0549 293.2829);
  --sidebar: oklch(0.4383 0.1983 303.7241);
  --sidebar-foreground: oklch(1.0 0 0);
  --sidebar-primary: oklch(1.0 0 0);
  --sidebar-primary-foreground: oklch(0.4383 0.1983 303.7241);
  --sidebar-accent: oklch(0.5575 0.2525 302.3212);
  --sidebar-accent-foreground: oklch(1.0 0 0);
  --sidebar-border: oklch(0.3458 0.1698 302.0685);
  --sidebar-ring: oklch(1.0 0 0);
  --font-sans: "Space Mono", monospace;
  --font-serif: serif;
  --font-mono: "Space Mono", monospace;
  --radius: 0rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #6b21a8;
  --shadow-2xs: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.1);
  --shadow-xs: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.1);
  --shadow-sm: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.2), 2px 1px 2px -1px
    hsl(272.8889 67.1642% 39.4118% / 0.2);
  --shadow: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.2), 2px 1px 2px -1px
    hsl(272.8889 67.1642% 39.4118% / 0.2);
  --shadow-md: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.2), 2px 2px 4px -1px
    hsl(272.8889 67.1642% 39.4118% / 0.2);
  --shadow-lg: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.2), 2px 4px 6px -1px
    hsl(272.8889 67.1642% 39.4118% / 0.2);
  --shadow-xl: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.2), 2px 8px 10px -1px
    hsl(272.8889 67.1642% 39.4118% / 0.2);
  --shadow-2xl: 2px 2px 0px 0px hsl(272.8889 67.1642% 39.4118% / 0.5);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1646 0.0858 304.2476);
  --foreground: oklch(1.0 0 0);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1.0 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1.0 0 0);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(1.0 0 0);
  --secondary: oklch(0.3729 0.0306 259.7328);
  --secondary-foreground: oklch(1.0 0 0);
  --muted: oklch(0.2781 0.0296 256.848);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.4568 0.2146 277.0229);
  --accent-foreground: oklch(1.0 0 0);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1.0 0 0);
  --border: oklch(0.4461 0.0263 256.8018);
  --input: oklch(0.3729 0.0306 259.7328);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.709 0.1592 293.5412);
  --chart-3: oklch(0.8112 0.1013 293.5712);
  --chart-4: oklch(0.8943 0.0549 293.2829);
  --chart-5: oklch(0.9383 0.0325 293.4149);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(1.0 0 0);
  --sidebar-primary: oklch(0.4383 0.1983 303.7241);
  --sidebar-primary-foreground: oklch(1.0 0 0);
  --sidebar-accent: oklch(0.6056 0.2189 292.7172);
  --sidebar-accent-foreground: oklch(1.0 0 0);
  --sidebar-border: oklch(0.3458 0.1698 302.0685);
  --sidebar-ring: oklch(1.0 0 0);
  --font-sans: "Space Mono", monospace;
  --font-serif: serif;
  --font-mono: "Space Mono", monospace;
  --radius: 0rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #8b5cf6;
  --shadow-2xs: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 0.2);
  --shadow-xs: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 0.2);
  --shadow-sm: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 0.4), 2px 1px 2px -1px
    hsl(258.3117 89.5349% 66.2745% / 0.4);
  --shadow: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 0.4), 2px 1px 2px -1px
    hsl(258.3117 89.5349% 66.2745% / 0.4);
  --shadow-md: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 0.4), 2px 2px 4px -1px
    hsl(258.3117 89.5349% 66.2745% / 0.4);
  --shadow-lg: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 0.4), 2px 4px 6px -1px
    hsl(258.3117 89.5349% 66.2745% / 0.4);
  --shadow-xl: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 0.4), 2px 8px 10px -1px
    hsl(258.3117 89.5349% 66.2745% / 0.4);
  --shadow-2xl: 2px 2px 0px 0px hsl(258.3117 89.5349% 66.2745% / 1.0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
